page-sales-person {
	.profileImage{
		margin-left: 30%;
		height: 150px;
		width: 150px;
		border-top: 0.5px solid rgb(247, 116, 116);
		border-bottom: 6px solid rgb(214, 127, 101);
		border-left: 3px solid rgb(238, 120, 90);
		border-right: 3px solid rgb(233, 120, 90);
		border-radius: 100px;
		padding-top: 2px;
		background-color: rgba(241, 67, 55, 0.966);
	}
	.profileImage img{
		border: 1px solid white;
		border-radius: 100px;
		height: 140px;
		width: 145px;
	}
	.changePassword-bar{
		padding: 10px;
		background-color: rgba(142, 197, 245, 0.904);
		width: 100%;
		.icon{
			float: right;
		}
	}
.Profile p{
	text-align: left;
}
.myprofilebackgrand{
	padding-top: 20px;
	background-color: rgb(241, 65, 65);
	.item{
		background-color: rgba(255, 0, 0, 0);
	}
	.p1{
		color: white;
		text-align: center;
		font-size: 23px;
	}
	p{
		color: rgba(65, 59, 59, 0.822);
	}
}
.SaleP_img{
	border-radius: 65%;
	border: 1px solid gray;
}
@media screen and (min-width: 420px){
	.profileImage{
		margin-left: 43%;
		height: 150px;
		width: 150px;
		border-top: 0.1px solid rgb(255, 0, 0);
		border-bottom: 5px solid rgb(226, 93, 52);
		border-left: 2px solid rgb(243, 81, 41);
		border-right: 2px solid rgb(243, 81, 41);
		border-radius: 100px;
		padding: 10px;
		background-color: rgba(241, 67, 55, 0.966);
	}
	.profileImage img{
		border-radius: 100px;
		height: 110px;
		width: 120px;
	}
}
}
