<ion-content>
    <ion-navbar color = danger>
      </ion-navbar>
      <div class="myprofilebackgrand">
          <p class="p1">View Profile</p>
        <div class="uploadImage">
          <div class="profileImage">
            <!-- ../../assets/icon/image-icon.png -->
            <img *ngIf = "myimage" (click) = "UploadImage()" [src]=image/>
          </div>
          <ion-item>
            <h1 style="color:white">
             {{name}}
            </h1>
              <p>
                {{email}}
               </p>
          </ion-item>
        </div>
      </div>

                  <div (click) = "EditProfile()" class="changePassword-bar">Change Details <ion-icon ios="ios-create" md="md-create"></ion-icon> </div>
                  <div class="Profile" *ngIf = "Profile">
                      <ion-list>
                        <ion-item>
                          <p item-start> Name</p> <p> {{name}}</p>
                        </ion-item>
                        <ion-item>
                          <p item-start>Email</p> <p> {{email}}</p>
                        </ion-item>
                      </ion-list>

                  </div>
                  <div class="updateProfile" *ngIf = "updateProfile">
                      <form (ngSubmit) ="UpdateMyProfile(f.value)" #f = "ngForm">
                          <ion-list>
                              <ion-item>
                                <ion-input type="text" required name = "name" [(ngModel)] = "name" placeholder="Name"></ion-input>
                              </ion-item>
                            
                              <ion-item>
                                <ion-input type="email" required name = "email" [(ngModel)] = "email" placeholder="email"></ion-input>
                              </ion-item>

                              <ion-item>
                                  <button full ion-button color = danger [disabled] = "!f.valid"> Update </button>
                              </ion-item>
                            
                            </ion-list>
                      </form>
                  </div>
                  <div (click) = "EditPassword()" class="changePassword-bar">Change Password <ion-icon ios="ios-create" md="md-create"></ion-icon> </div>
                  <div class="changePassword" *ngIf = "changePassword">
                      <form (ngSubmit) = "ChangePassword(f.value)" #f = "ngForm">
                          <ion-list>

                              <ion-item>
                                <ion-input type="password" required name = "currentpassword" [(ngModel)] = "currentpassword"  placeholder="Current Password"></ion-input>
                              </ion-item>
                            
                              <ion-item>
                                <ion-input type="password" required name = "newpassword" [(ngModel)] = "newpassword"  placeholder="New Password"></ion-input>
                              </ion-item>

                              <ion-item>
                                  <ion-input type="password" required name = "confirmpassword" [(ngModel)] = "confirmpassword"  placeholder="Confirm Password"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <button full ion-button [disabled] = "!f.valid" color = danger> Update </button>
                                </ion-item>
                            </ion-list>
                      </form>
                  </div>
</ion-content>
