page-change-stage {
.table 
    {
        background-color: rgba(240, 234, 234, 0.685);
        font-size: 8px;
        margin-top: 6px;
        color: rgb(27, 120, 146);
    }
    .footer .col{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
}
