page-starter {
    .content{
        background-image: url('http://www.nizthewiz.com/booking/img/graphic/mascot.png');
        background-repeat: no-repeat;
        background-size: 80% 60%;
        background-color: rgba(31, 168, 231, 0.25);
        h1{
            margin-top: 95%;
            margin-left: 30%;
            color:red;
        }
    }
    .btn{
        font-size: 20px;
        width: 48.7%;
    }
    #btn1{
        background-color: red;
    }
    #btn2{
        background-color: green;
        float: right;
    }
}
