<ion-header>
		<ion-navbar color= danger>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
	  <ion-title>Contacts</ion-title>
	  
	  <ion-buttons end>
			<button (click)="AddNewContact()" ion-button icon-only color="royal">
				<i style="color:white; margin-right: 10px;font-size: 18px" class="fa fa-plus-circle" aria-hidden="true"></i>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<br>
	<div class="contactsList" *ngIf = "!callList && !mailList">
		<div class="mylist">
				<div class="Litem" *ngFor = "let acc of Accounts">
					<div class="accountTit">{{acc.accountName}}</div>
						<div *ngIf = "acc.name" class="Fitem" (click)="ToContactPerson(acc)">
							<div class="Fitem" >{{acc.name}} <a href="tel:{{acc.phone}}"> {{acc.phone}}</a> </div>
						</div>
				</div><br>
		</div>
	</div>
</ion-content>