page-new-account {
    #mapPin{
        float: right;
        font-size: 18px;
        margin-right:2%; 
        color: rgba(235, 62, 62, 0.87);
    }
    #myhidentext{
        visibility:hidden;
        
    }
}
