page-new-event {
	.ManageMyEvent{
		margin-right: 2%;
	}
	.events{
		width: 100%;
		border: 1px solid lightgray;
		padding: 10px;
		border-radius: 5px;
		margin-top: 10px;
}
.events div{
		width: 100%;
		padding: 5px;
}
.events span{
		float: right;
		text-align: right;
}
}
