<ion-header>
    <ion-navbar color = danger>
      <ion-title class="tt"><label>Close Opportunity</label></ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <div class="NextStage" *ngIf = "NextStage">
  
  <form (ngSubmit) ="CreatNewEvent(fm.value)" #fm = "ngForm">
      <select class ="form-control" name="nextStages" id="stage" [(ngModel)] = "opportunityStage">
          <option value="Qualification">Qualification </option>
          <option value="NeedAnalysis">Need Analysis </option>
          <option value="Proposal">Proposal </option>
          <option value="Negotiation">Negotiation </option>
          <option value="Close">Closed </option>
      </select>
      <button ion-button full type="submit" class="btn btn-danger" [disabled] = "!fm.valid">Save </button>
    </form>
   
  </div>
  <div class="CloseOpportunity" *ngIf = "CloseOpportunity">
      <form (ngSubmit) ="CloseOppo(f.value,{close:oppo})" #f = "ngForm">
            <div class="ff" >
                <h6>Select (*)</h6>
                <label>Win: </label><input type="radio" value="Win" name="OpportunityName" required ngModel>
                <label>Lose: </label><input type="radio" value="Lose" name="OpportunityName" required ngModel>
                <br>
                <textarea class ="form-control"></textarea>
            </div>
            <button type="submit" class="btn" color = danger [disabled] = "!f.valid"> Close Opportunity </button>
      </form>
  </div>
  </ion-content>