<!-- <ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;"> </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="contant" padding>
      <br><br>
    <div>
      <img class="logImg" src="http://www.nizthewiz.com/booking/img/graphic/mascot.png">
    </div>
    <br><br>
    <strong>
        <p style="text-align: center"> Reset Password </p>
    </strong>
    <br>
  <div *ngIf = '!ResetPass' class="RequestPass">
    <form (ngSubmit) ="Forgot(fm.value)" #fm = "ngForm">
            <ion-label>Email</ion-label>
          <input type="email" name="email" [(ngModel)] = "email" required placeholder="Email ">
            <br><br>
        <button ion-button full color = danger class="btn btn-control" [disabled]="!fm.valid"> Submit </button>
    </form>
    <br>
    

    <a (click) = "BackToLogin()">Login</a>
  </div>

  <div class="ResetPass" *ngIf = "!RequestPass">
      <form (ngSubmit) ="ResetPassword(fm.value)" #fm = "ngForm">
          <ion-label>New Password</ion-label>
          <input type="password" name="newPass" [(ngModel)] = "newPass" required placeholder="New Password ">
            <br>
            <ion-label>Confirm Password</ion-label>
            <input type="password" name="confrimPass" [(ngModel)] = "confrimPass" required placeholder=" Confirm Password ">
            <br>
            <ion-label>Code</ion-label>
            <input type="number" name="secrtKey" [(ngModel)] = "secrtKey" required placeholder="Code">
            <br><br>
        <button ion-button full color = gmail class="btn btn-control" [disabled]="!fm.valid"> Rest Password </button>
      </form>

      <div class="alert alert-info">
        Please find the security code from your email to reset the password 
      </div>
  </div>
</ion-content>
     