page-respective-account {
	// .content{
	// 	background-color:  rgb(207, 206, 205);
	// }
    .fa{
		color: #000000;
		font-size: 18px;
	}
	.accountDetails .icon{
		color: rgba(53, 117, 177, 0.932);
	}
	.accountDetails .fa{
		color: rgba(53, 117, 177, 0.932);
	}
	.table .fa{
		float: right;
		color: red;
	}
}
